body {
    background-color: aqua;
    font-size: medium;
<<<<<<< HEAD:app1.css
    color: red;
||||||| a8fbb12... new change:app.css
    font-family: 'Courier New', Courier, monospace;
=======
    font-family: 'Courier New', Courier, monospace;
    
>>>>>>> parent of a8fbb12... new change:app.css
}