body {
    background-color: aqua;
    font-size: medium;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    
}

body {
    background-color: aqua;
    font-size: medium;
    color: red;
}
